html {
    min-height: 100%; /* This is get rid of gray screen if background no-repeat is put to no-repeat */
}


body {
    background-image: linear-gradient(160deg, #0093E9, #80D0C7);
    background-repeat: no-repeat;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;

}

header {
    height: 120px;
    display: flex;
    align-items: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.308); /* 4th dimension is transparency */
    /* height:40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px;
}

.container h1 {
    padding-left: 40px;
    text-align: left;
    font-size: 60px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

.customerbox h2 {
    font-size: 1.5rem;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: underline;
}

.customerbox p {
    font-size: 1rem;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.vacationbox{
    padding-top: 30px;
}

.vacationbox h2 {
    font-size: 1.5rem;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: underline;
}

.vacationbox p {
    font-size: 1rem;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

form {
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

input {
    border-radius: 10px;
}



