html {
    min-height: 100% 

}

body {
    background-image: linear-gradient(160deg, #0093E9, #80D0C7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;

}

header {
    padding-left: 330px;
    height: 120px;
    display: flex;
    align-items: center;
    
}

nav {
    background-color: rgba(0, 0, 0, 0.308); /* 4th dimension is transparency */
    /* height:40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    background-color: rgb(132, 0, 255, 0.50);
    min-height:500px;
    text-align: center;
    padding-right: 240px;
    padding-left: 240px;

}

footer {
    margin-top: 50px;
    min-height: 200px;
}

a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px;
}

.container h1 {

    text-align: left;
    font-size: 80px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

.logo {
    padding-left: 10px;
}

main h2{
    font-size: 60px;
    font-family: 'Big Shoulders Display';
    color: white;
}

.cards h2 {
    padding-top: 40px;
    font-size: 40px;
    font-family: 'Big Shoulders Display';
    color: white;
}


.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


.about {
    display:flex;
    justify-content: space-around;
    background-color: rgba(22, 61, 66, 0.75);
    padding: 50px 50px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}


.mybutton {
    background-color: teal;
    color:white;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px 11px 25px;
    display:inline-block;
}

main a{
    margin-top: 20px;
    text-decoration: none;
}

.cards {
    background-color: rgb(132, 0, 255, 0.50);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.card1 {
    background-color: teal;
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-color: teal;
    min-height: 250px;
    width: 30%;
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

i {
    font-size: 80px;
}

.about i {
    font-size: 30px;
}