html {
    min-height: 100%; /* This is get rid of gray screen if background no-repeat is put to no-repeat */
}


body {
    background-image: linear-gradient(160deg, #0093E9, #80D0C7);
    background-repeat: no-repeat;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;

}

header {
    padding-left: 330px;
    height: 120px;
    display: flex;
    align-items: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.308); /* 4th dimension is transparency */
    /* height:40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px;
}

.container h1 {
    padding-left: 40px;
    text-align: left;
    font-size: 60px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

h2 {
    text-align: left;
    font-size: 80px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;

}

.container p {
    padding-right: 40px;
    padding-left: 40px;
    text-align: left;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

.logo {
    padding-left: 10px;
}

main {
    min-height: 2000px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box1 {
    display: flex;
    min-height: 500px;

}

.location1 {
    flex:1;
    background-image: url('images/new_york_350x500.jpg');
    
}

.about1 {
    flex: 2;
    background-color: teal;
}


.box2 {
   display: flex;
   min-height: 500px; 
}


.location2{
    flex:1;
    background-image: url(images/la4_350x500.jpg);
}

.about2 {
    flex:2;
    background-color: teal;
}

.box3 {
    display: flex;
    min-height: 500px;

}

.location3{
    flex: 1;
    background-image: url(images/miami_350x500\ \(1\).jpg);
}

.about3 {
    flex:2;
    background-color: teal;
}







