<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacay GetAway Booking</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/booking-style.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <h1>Vacay GetAway</h1>
            <div class="logo">
                <img src="../static/images/logo.JPG" alt="logo" width = "55" height = "55">
            </div>
        </header>

        <nav>
            <a href="/">HOME</a>
            <a href="/vacations">VACATIONS</a>
        </nav>
        
        <main>

            <div class="customerbox">
                <h2>Registeration Information</h2><br>

                <form action="/booking" method= "POST">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname"><br><br>

                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname"><br><br>

                    <label for="age">Age:</label><br>
                    <input type="text" id="age" name="age"><br><br>

                    <label for="city">City:</label><br>
                    <input type="text" id="city" name="city"><br><br>

                    <label for="state">State:</label><br>
                    <input type="text" id="state" name="state"><br><br>

                    <label for="phone_number">Phone Number:</label><br>
                    <input type="text" id="phone_number" name="phone_number"><br><br>

                    <label for="vacation">Choose a Vacation Location:</label>
                    <select id="vacation" name="vacation">
                        <option value="pick">Pick a Location</option>
                        <option value="NY">New York, NY</option>
                        <option value="CA">Los Angeles, CA</option>
                        <option value="FL">Miami, FL</option>
                        <option value="NV">Las Vegas, NV</option>
                        <option value="KY">Kentucky, KY</option>
                        <option value="IL">Chicago, IL</option>
                        <option value="OH">Cincinnati, OH</option>
                        <option value="TN">Nashville, TN</option>
                        <option value="TX">Dallas, TX</option>
                    </select>

                    <input type="submit" value="Submit"><br><br>
                  </form> 


            </div>

        </main>
    </div>
    
</body>
</html>