<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacay GetAway Booking</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../public/booking-style.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <h1>Vacay GetAway</h1>
            <div class="logo">
                <img src="../public/images/logo.JPG" alt="logo" width = "55" height = "55">
            </div>
        </header>

        <nav>
            <a href="../index.html">HOME</a>
            <a href="vacations.html">VACATIONS</a>
        </nav>
        
        <main>
            <div class="customerbox">
                <h2>Customer Information</h2>
                <p>First Name:</p>
                <form action="/test/post-username" method="POST"> <input type="text" name="username"> <button          type="submit"> Send </button> </form>

                <p>Last Name:</p>
                <form action="/test/post-username" method="POST"> <input type="text" name="username"> <button          type="submit"> Send </button> </form>

                <p>Age:</p>
                <form action="/test/post-username" method="POST"> <input type="text" name="username"> <button          type="submit"> Send </button> </form>

                <p>Phone Number:</p>
                <form action="/test/post-username" method="POST"> <input type="text" name="username"> <button          type="submit"> Send </button> </form>

                <p>Address:</p>
                <form action="/test/post-username" method="POST"> <input type="text" name="username"> <button          type="submit"> Send </button> </form>

            </div>


            <div class="vacationbox">
                <h2>Vacation Information</h2>











            </div>

        </main>
    </div>
    
</body>
</html>