<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacay GetAway Booking</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/booking-style.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <h1>Vacay GetAway</h1>
            <div class="logo">
                <img src="../static/images/logo.JPG" alt="logo" width = "55" height = "55">
            </div>
        </header>

        <nav>
            <a href="/">HOME</a>
            <a href="/vacations">VACATIONS</a>
        </nav>
        
        <main>
            <div class="customerbox">
                <h2>Customer Information</h2><br>

                <form action="/booking" method="POST">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname"><br><br>

                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname"><br><br>

                    <label for="age">Age:</label><br>
                    <input type="text" id="age" name="age"><br><br>

                    <label for="city">City:</label><br>
                    <input type="text" id="city" name="city"><br><br>

                    <label for="state">State:</label><br>
                    <input type="text" id="state" name="state"><br><br>

                    <label for="phone_number">Phone Number:</label><br>
                    <input type="text" id="phone_number" name="phone_number"><br><br>

                    <input type="submit" value="Submit">
                  </form> 

            </div>


            <div class="vacationbox">
                <h2>Vacation Information</h2><br>

                <form action="/profile">
                    <label for="location">Vacation Location:</label><br>
                    <input type="text" id="location" name="location"><br><br>

                    <label for="airport">Airport:</label><br>
                    <input type="text" id="airport" name="airport"><br><br>

                    <label for="hotel">Hotel:</label><br>
                    <input type="text" id="hotel" name="hotel"><br><br>

                    <label for="restaurant">Restaurant:</label><br>
                    <input type="restaurant" id="restaurant" name="restaurant"><br><br>

                    <input type="submit" value="Submit">
                  </form> 


            </div>

        </main>
    </div>
    
</body>
</html>